// THEME
@brand-border: #3E2723;
@course-menu-font: #4E342E;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.ace_editor {
    min-height: 200px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
}

.qb-absolute {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.qb-brand {
    padding-right: 10px;
    margin-right: 11px;
    border-right: solid 1px @brand-border;
}

.qb-course-menu {
    padding: 0px;
    color: @course-menu-font;
    margin-top: 17px !important;
}

.qb-grid-list {
    &-gray {
        background: #f5f5f5;
    }

    &-green {
        background: #b9f6ca;
    }

    &-yellow {
        background: #ffff8d;
    }

    &-blue {
        background: #84ffff;
    }

    &-purple {
        background: #ff8a80;
    }
}

.qb-card {
    min-height: 300px;
    &-front {
        background: #b9f6ca;
    }
    &-back {
        background: #ffff8d;
    }
}

.qb-preview {
    border: solid 1px @brand-border;
    padding: 0px 5px;
}
