<md-tabs md-stretch-tabs="always" md-dynamic-height="true">
    <md-tab ng-repeat="resource in vm.resources">
        <md-tab-label>
            {{resource.type}}
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="element in resource.elements">
                    <div ng-if="element.type == 'note'" class="md-list-item-text compact">
                        <h3>{{element.title}}</h3>
                        <p>{{element.content}}</p>
                    </div>
                    <div ng-if="element.type == 'definition'" class="md-list-item-text compact">
                        <h3>{{element.term}}</h3>
                        <p>{{element.definition}}</p>
                    </div>
                    <div ng-if="element.type == 'card'" class="md-list-item-text compact">
                        <h3>{{element.front}}</h3>
                        <p>{{element.back}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab-body>
    </md-tab>
</md-tabs>
<md-fab-speed-dial md-direction="up" class="fling qb-absolute">
    <md-fab-trigger>
        <md-button aria-label="New resource menu" class="md-fab md-primary">
            <md-icon>add</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ui-sref="note.create" aria-label="New note" class="md-fab md-raised md-warn md-mini">
            <md-tooltip md-direction="left">Note</md-tooltip>
            <md-icon>description</md-icon>
        </md-button>
        <md-button ui-sref="definition.create" aria-label="New definition" class="md-fab md-raised md-warn md-mini">
            <md-tooltip md-direction="left">Definition</md-tooltip>
            <md-icon>web</md-icon>
        </md-button>
        <md-button ui-sref="card.create" aria-label="New card" class="md-fab md-raised md-warn md-mini">
            <md-tooltip md-direction="left">Card</md-tooltip>
            <md-icon>chat</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
