<md-whiteframe class="md-whiteframe-1dp" layout="row" layout-align="center center">
    <div flex="80" layout-margin layout="column">
        <h1 class="md-headline">Welcome back to QBOT</h1>
        <p>Continue studying for your courses with the resources below.</p>
    </div>
</md-whiteframe>
<div flex layout="row" layout-align="center center">
    <div flex="80" layout-margin layout="column">
        <div layout="row">
            <h3>Your courses</h3>
        </div>
        <md-grid-list class="qb-grid-list" md-cols-sm="2" md-cols-gt-lg="6" md-cols="4" md-row-height="16:9">
            <md-grid-tile class="qb-{{course.color}}" ng-repeat="course in vm.courses" md-colspan="1" md-rowspan="2">
                <md-grid-tile-header layout-padding><a ui-sref="course({id: course.$id, resource: 'notes'})">{{course.name}}</a></md-grid-tile-header>
                <md-grid-tile-footer layout-align="end center" layout-padding>
                    <span ng-if="course.notes">
                        <md-tooltip md-direction="top">Note</md-tooltip>
                        <md-icon>description</md-icon>
                        {{course.notes.count}}
                    </span>
                    <span ng-if="course.definitions">
                        <md-tooltip md-direction="top">Definition</md-tooltip>
                        <md-icon>web</md-icon>
                        {{course.definitions.count}}
                    </span>
                    <span ng-if="course.cards">
                        <md-tooltip md-direction="top">Card</md-tooltip>
                        <md-icon>chat</md-icon>
                        {{course.cards.count}}
                    </span>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
<md-button aria-label="New course" class="md-fab md-primary qb-fixed" ui-sref="create">
    <md-icon>add</md-icon>
</md-button>
