<md-content layout="column" layout-padding flex class="md-padding">
    <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="start center">
      <div layout-padding layout-fill layout="column">
        <md-grid-list class="qb-grid-list" md-cols-sm="2" md-cols-gt-lg="6" md-cols="4" md-row-height="16:9">
            <md-grid-tile class="{{course.color}}" ng-repeat="course in vm.courses" md-colspan="1" md-rowspan="2">
                <md-grid-tile-header layout-padding><a ui-sref="course({id: course.$id})">{{course.name}}</a></md-grid-tile-header>
                <md-grid-tile-footer layout-align="end center" layout-padding>
                    <span ng-if="course.notes">
                        <md-tooltip md-direction="top">Note</md-tooltip>
                        <md-icon>description</md-icon>
                        {{course.notes.count}}
                    </span>
                    <span ng-if="course.definitions">
                        <md-tooltip md-direction="top">Definition</md-tooltip>
                        <md-icon>web</md-icon>
                        {{course.definitions.count}}
                    </span>
                    <span ng-if="course.cards">
                        <md-tooltip md-direction="top">Card</md-tooltip>
                        <md-icon>chat</md-icon>
                        {{course.cards.count}}
                    </span>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
      </div>
    </md-whiteframe>
</md-content>
