<md-content layout="column" layout-padding flex class="md-padding">
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center">
        <md-content layout-padding>
            <h3 class="md-headline">Create a new note</h3>
            <md-input-container>
                <label>Title</label>
                <input ng-model="vm.resource.title">
            </md-input-container>
            <md-input-container>
                <textarea ng-model="vm.resource.content"></textarea>
            </md-input-container>
            <div layout="row">
              <md-button class="md-raised md-primary" ng-click="vm.createResource(vm.resource, 'note')">Create</md-button>
              <md-button class="md-raised md-warn" ng-click="vm.cancel()">Cancel</md-button>
            </div>
        </md-content>
    </md-whiteframe>
</md-content>
