<md-dialog layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit answer</h2>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button class="md-warn md-hue-1 md-raised" ng-click="vm.save()">
                Save
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
            <div layout="row">
                <div flex="50" ui-ace="{useWrapMode: true, onLoad: vm.editorLoad}" ng-model="vm.resource.question"></div>
                <pre flex="45" flex-offset="5" class="qb-preview" katex bind="vm.resource.question" auto-render></pre>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>
